.stackery
.aws-sam
tmp/
*/.idea/
*/.gradle/
tmp
/build/
/samconfig.toml
/.idea/
/src/MemoryCardFunctions/.gradle/
/src/MemoryCardFunctions/build/
/src/MemoryCardFunctions/build/
/src/MemoryCardFunctions/out/
/src/MemoryCardFunctions/src/main/generated/

